@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
     <h1 class="nav-link text-light" "display-4">Welcome</h1>
    <p class="nav-link text-light">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
